<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <img src="./assets/reconsidere-logo.png" width="300px" height="50px" />
    <div class="col-md-5">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Autenticação</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <h3> Usuário </h3>
            <input #username required type="email" class="form-control" [(ngModel)]="email" placeholder="E-mail">
          </div>
          <div class="form-group">
            <h3> Senha </h3>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i (click)="hidepassword=!hidepassword" class="fa fa-eye" *ngIf="!hidepassword"></i>
                  <i (click)="hidepassword=!hidepassword" class="fa fa-eye-slash" *ngIf="hidepassword"></i>
                </span>
              </div>

              <input #passwordfield type="{{hidepassword ? 'password' : 'text'}}" minlenght="6" maxlength="20" class="form-control" [(ngModel)]="password"
                id="password" required placeholder="Senha" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <mat-hint>{{passwordfield.value?.length || 0}}/20</mat-hint>
                </span>
              </div>
            </div>
          </div>
          <button (click)="login();" class="btn btn-block btn-success">
            Entrar<i *ngIf="entering" class="fa fa-spinner fa-spin"></i>
          </button>
          <div class="form-check small">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <span>Lembrar minha senha neste computador</span>
            </label>
          </div>
          <a routerLink="/sign-up">Criar conta</a>
          <br />
          <a routerLink="/repassword">Esqueci minha senha</a>
        </div>
      </div>
    </div>
  </div>
</div>
