<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <img src="./assets/reconsidere-logo.png" width="300px" height="50px" />
    <div class="col-md-5">
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <h3> Usuário </h3>
            <input type="email" class="form-control" [(ngModel)]="email" placeholder="E-mail">
          </div>
          <div class="form-group">
            <h3> Senha </h3>
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Senha">
          </div>
          <button (click)="login()" class="btn btn-block btn-success">Entrar</button>
          <div class="form-check small">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <span>Lembrar minha senha neste computador</span>
            </label>
          </div>
          <a routerLink="/sign-up">Criar conta</a>
          <br />
          <a routerLink="/repassword">Esqueci minha senha</a>
        </div>
      </div>
    </div>
  </div>
</div>
