<div class="jumbotron vertical-center">
  <div class="w-25 p-3 container">
    <div class="row justify-content-center">
      <img src="assets/reconsidere-logo.png" width="300px" height="50px">
    </div>
    <span *ngIf="!(user | async)?.email">
      <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="email" placeholder="E-mail">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="senha" placeholder="Senha">
      </div>
      <button (click)="login()" class="btn btn-block btn-outline-success"  routerLinkActive="active">Entrar</button>

      <div *ngIf="abreEmailCadastro" class="row justify-content-center">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="nome" placeholder="Nome">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" [(ngModel)]="email" placeholder="E-mail">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="senha" placeholder="Senha">
        </div>

       

        <button (click)="signup()" class="btn btn-block btn-outline-info">Enviar</button>
      </div>

      <div class="row justify-content-center">
        <button (click)="abreEmailCadastro = !abreEmailCadastro" class="btn btn-block btn-outline-warning">Cadastrar</button>
      </div>
    </span>
   
  </div>
</div>
