<div class="sidenav" #sidenav>
  <mat-list>
    <mat-list-item routerLink="/startcenter" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span class="spacer"></span>
      <p>Central</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>code</mat-icon>
      <p class="option">Atividades</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon>code</mat-icon>
      <p class="option">Apontamento</p>
    </mat-list-item>
    <mat-list-item routerLink="/weighing" routerLinkActive="active">
      <mat-icon>bar_chart</mat-icon>
      <p class="option">Medição</p>
    </mat-list-item>
    <mat-list-item routerLink="/admin" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      <p class="option">Administração</p>
    </mat-list-item>
    <mat-list-item routerLink="/profile" routerLinkActive="active">
      <mat-icon>account_box</mat-icon>
      <p class="option">Conta</p>
    </mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item routerLink="/logout" routerLinkActive="active">
      <mat-icon>code</mat-icon>
      <p class="option">Sair</p>
    </mat-list-item>
  </mat-list>
</div>
