<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Produção diária</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile class="information" style="background: lightseagreen; font: economica">
          <h1>100,00 Kg/dia</h1>
        </mat-grid-tile>
        <mat-grid-tile class="information" style="background: peru; font: economica">
          <h1>345,00 Kg/dia</h1>
        </mat-grid-tile>
      </mat-grid-list>
      <span class="toolbar-spacer"></span>
    </mat-card-content>
    <mat-card-footer>
      <p>
        Apresenta a média de kilogramas produzidos por dia de maneira geral, independente do material. separando apenas em duas categorias,
        os recicláveis dos não reciclaveis (não apresenta níveis de contaminação).
      </p>
    </mat-card-footer>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Níveis de contaminação</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart width="200px" height="150px" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </mat-card-content>
    <mat-card-footer>
      <p>
        Exibe a qualificação da empresa com relação a separação de materiais, ou seja, o quanto os materiais vem pré selecionados.
        Apresenta em gráficos as vezes que o material foi coletado contaminado.
      </p>
    </mat-card-footer>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Melhores pré-selecionados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-footer>
      <p>
        Apresenta as categorias que mais foram coletadas num período préfixado, ordenadas da maior coleta pra menor.
      </p>
    </mat-card-footer>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Próxima coleta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1>540h:41m:22s</h1>
    </mat-card-content>
    <mat-card-footer>
      <p>
        Apresenta uma estimativa de tempo para a chegada do caminhão baseado nos comportamentos, práticas e cultura da empresa cliente.
      </p>
    </mat-card-footer>
    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>
