<app-toolbar></app-toolbar>
<div class="main" id="container">
  <div class="col-md-10">
    <h1 class="display-4">Translados</h1>
    <input type="text" class="form-control" id="search" [(ngModel)]="search" placeholder="Digite os termos para busca...">
    <table class="table table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Data</th>
          <th>Caminhão</th>
          <th>Inicio</th>
          <th>Término</th>
          <th>Pesagem</th>
          <th>Duração</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of last_transfers() | termFilter: 'truck' : search; let i= index">
          <td>{{transfer.id}}</td>
          <td>{{transfer.date}}</td>
          <td>{{transfer.truck}}</td>
          <td>{{transfer.starttime}}</td>
          <td>{{transfer.endtime}}</td>
          <td>{{transfer.wheight}}</td>
          <td>{{transfer.duration}}</td>
          <td>
            <button>Exibir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
