<mat-list style="overflow-y: scroll; height: 400px; width: 100%">
  <p *ngFor="let update of last_updates$ | async">
    <mat-list-item>
      <mat-card class="update-card" (click)="collapsed=!collapsed">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>home</mat-icon>
          </div>
          <mat-card-title>Medição realizada! 000 Kg total</mat-card-title>
          <mat-card-subtitle>{{update.date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="!collapsed">
          <p *ngFor="let material of update.materials">
            {{material.name}} | {{material.quantity}} {{material.unity_of_measure}}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </p>
</mat-list>
