<app-toolbar></app-toolbar>
<div class="main" id="container">
  <div class="col-md-10">
    <h1>Informações de Conta</h1>
    <!--<span class="anchor" id="formComplex"></span>-->
    <h3>Empresa</h3>
    <mat-divider></mat-divider>
    <div class="form-row mt-4">
      <div class="col-sm-5 pb-3">
        <label for="razaoSocial">Razão Social</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="profile.basic.name" placeholder="XXXXXXXXXXXXXXXX">
      </div>
      <div class="col-sm-3 pb-3">
        <label for="cnpj">CNPJ</label>
        <input type="text" class="form-control" id="cnpj" placeholder="0000">
      </div>
      <div class="col-sm-4 pb-3">
        <label for="exampleAmount">Amount</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" id="exampleAmount" placeholder="Amount">
        </div>
      </div>
    </div>

    <h3>Localização</h3>
    <mat-divider></mat-divider>
    <div class="form-row mt-4">
      <div class="col-sm-7 pb-3">
        <label for="exampleFirst">Rua</label>
        <input type="text" class="form-control" id="exampleFirst">
      </div>
      <div class="col-sm-2 pb-3">
        <label for="exampleLast">Número</label>
        <input type="text" class="form-control" id="exampleLast">
      </div>
      <div class="col-sm-3 pb-3">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep">
      </div>
      <div class="col-sm-3 pb-3">
        <label for="city">Cidade</label>
        <input type="text" class="form-control" id="city">
      </div>
      <div class="col-sm-3 pb-3">
        <label for="state">Estado</label>
        <select class="form-control" id="state">
          <option>Pick a state</option>
        </select>
      </div>
      <div class="col-sm-6 pb-3">
        <label for="city">Complemento</label>
        <input type="text" class="form-control" id="city">
      </div>
    </div>

    <h3>Assistência</h3>
    <mat-divider></mat-divider>
    <div class="form-row mt-4">
      <div class="col-md-7 pb-3">
        <label for="consultant">Consultor</label>
        <input type="text" class="form-control" [(ngModel)]="profile.assistance.consultant" id="consultant" />
      </div>
      <div class="col-md-2 pb-3">
        <label for="visit">Carga horária</label>
        <input type="number" min="0" max="8" class="form-control" [(ngModel)]="profile.assistance.workload" id="workload" />
      </div>

      <div class="col-md-3 pb-3">
        <label for="visit">Frequência</label>
        <mat-radio-group [(value)]="profile.assistance.visit" id="visit">
          <mat-radio-button value="daily">Diaria</mat-radio-button>
          <mat-radio-button value="weekly">Semanal</mat-radio-button>
          <mat-radio-button value="monthly">Mensal</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <h3>Materiais</h3>
    <mat-divider></mat-divider>
    <div class="form-row mt-4">
      <mat-slide-toggle [(ngModel)]="profile.production.paper" [ngModelOptions]="{standalone: true}">Papel</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.plastic" [ngModelOptions]="{standalone: true}">Plastico</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.glass" [ngModelOptions]="{standalone: true}">Vidro</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.metal" [ngModelOptions]="{standalone: true}">Metal</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.isopor" [ngModelOptions]="{standalone: true}">Isopor</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.fat" [ngModelOptions]="{standalone: true}">Gordura</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.eletronic" [ngModelOptions]="{standalone: true}">Eletrônico</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.organic" [ngModelOptions]="{standalone: true}">Orgânico</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="profile.production.inorganic" [ngModelOptions]="{standalone: true}">Inorgânico</mat-slide-toggle>
    </div>

    <h3>Assinatura</h3>
    <mat-divider></mat-divider>
    <div class="form-row mt-4">
      <div class="form-row">
        <label class="col-md col-form-label" for="name">Generated Id</label>
        <input type="text" class="form-control col-md-4" name="gid" id="gid" />
        <label class="col-md col-form-label" for="name">Date Assigned</label>
        <input type="text" class="form-control col-md-4" name="da" id="da" />
      </div>

      <label for="startdate">Data de início</label>
      <input type="date" class="form-control" id="startdate" />

      <label for="payment">Pagamento</label>
      <input type="text" class="form-control" [(ngModel)]="profile.signature.payment" id="payment" />

      <label for="salary">Vencimento</label>
      <input type="text" class="form-control" [(ngModel)]="profile.signature.salary" id="salary" />

      <button (click)="cancelSingnature()" class="btn btn-danger">Cancelar assinatura</button>
    </div>

    <h3>Acesso</h3>
    <mat-divider></mat-divider>
    <div class="form-row mt-4">
      <label for="password">Senha</label>
      <input matInput #password type="{{hidepassword ? 'password' : 'text'}}" minlenght="4" maxlength="20" class="form-control"
        [(ngModel)]="profile.account.password" [ngModelOptions]="{standalone: true}" id="password" />
      <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>

      <label for="password-verirification">Repita a senha: </label>
      <input matInput #password_verfication type="{{hidepassword.value ? 'password' : 'text'}}" maxlength="20" class="form-control"
        id="password-verirification" />
      <mat-hint align="end">{{password_verfication.value?.length || 0}}/20</mat-hint>

      <button (click)="changePassword()" class="btn btn-danger">Alterar senha</button>
      <input type="checkbox" id="hidepassword" checked #hidepassword/>
      <label for="hidepassword">Ocultar caracteres</label>
    </div>

    <button (click)="saveChanges()" type="submit" class="btn btn-success">Salvar</button>
    <button (click)="restoreBackup()" class="btn btn-basic">Restaurar Configurações</button>
  </div>
