<app-toolbar></app-toolbar>
<div class="main" id="container">
  <div class="col-md-10">
    <h1>Informações de Conta</h1>
    <!--<span class="anchor" id="formComplex"></span>-->
    <div class="card card-outline-secondary m-5">
      <div class="card-header">
        <h3 class="mb-0">Empresa</h3>
      </div>
      <div class="card-body">
        <div class="form-row mt-4">
          <div class="col-sm-5 pb-3">
            <label for="razaoSocial">Razão Social</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="profile.basic.name" placeholder="XXXXXXXXXXXXXXXX">
          </div>
          <div class="col-sm-3 pb-3">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" placeholder="0000">
          </div>
          <div class="col-sm-4 pb-3">
            <label for="exampleAmount">Amount</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" id="exampleAmount" placeholder="Amount">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-outline-secondary m-5">
      <div class="card-header">
        <h3 class="mb-0">Localização</h3>
      </div>
      <div class="card-body">
        <div class="form-row mt-4">
          <div class="col-sm-7 pb-3">
            <label for="exampleFirst">Rua</label>
            <input type="text" class="form-control" id="exampleFirst">
          </div>
          <div class="col-sm-2 pb-3">
            <label for="exampleLast">Número</label>
            <input type="text" class="form-control" id="exampleLast">
          </div>
          <div class="col-sm-3 pb-3">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep">
          </div>
          <div class="col-sm-3 pb-3">
            <label for="city">Cidade</label>
            <input type="text" class="form-control" id="city">
          </div>
          <div class="col-sm-3 pb-3">
            <label for="state">Estado</label>
            <select class="form-control" id="state">
              <option>Pick a state</option>
            </select>
          </div>
          <div class="col-sm-6 pb-3">
            <label for="city">Complemento</label>
            <input type="text" class="form-control" id="city">
          </div>
        </div>
      </div>
    </div>

    <div class="card card-outline-secondary m-5">
      <div class="card-header">
        <h3 class="mb-0">Assistência</h3>
      </div>
      <div class="card-body">
        <div class="form-row mt-4">
          <div class="col-md-7 pb-3">
            <label for="consultant">Consultor</label>
            <input type="text" class="form-control" [(ngModel)]="profile.assistance.consultant" id="consultant" />
          </div>
          <div class="col-md-2 pb-3">
            <label for="visit">Carga horária</label>
            <input type="number" min="0" max="8" class="form-control" [(ngModel)]="profile.assistance.workload" id="workload" />
          </div>

          <div class="col-md-3 pb-3">
            <label for="visit">Frequência</label>
            <select [(value)]="profile.assistance.visit" class="form-control" id="visit">
              <option value="daily">Diaria</option>
              <option value="weekly">Semanal</option>
              <option value="monthly">Mensal</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-outline-secondary m-5">
      <div class="card-header">
        <h3 class="mb-0">Materiais</h3>
      </div>
      <div class="card-body">
        <div class="form-row mt-4">
          <div class="col-md-6 pb-3">
            <mat-slide-toggle [(ngModel)]="profile.production.paper" [ngModelOptions]="{standalone: true}">Papel</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="profile.production.plastic" [ngModelOptions]="{standalone: true}">Plastico</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="profile.production.glass" [ngModelOptions]="{standalone: true}">Vidro</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="profile.production.metal" [ngModelOptions]="{standalone: true}">Metal</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="profile.production.isopor" [ngModelOptions]="{standalone: true}">Isopor</mat-slide-toggle>
          </div>
          <div class="col-md-6 pb-3">
            <mat-slide-toggle [(ngModel)]="profile.production.fat" [ngModelOptions]="{standalone: true}">Gordura</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="profile.production.eletronic" [ngModelOptions]="{standalone: true}">Eletrônico</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="profile.production.organic" [ngModelOptions]="{standalone: true}">Orgânico</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="profile.production.inorganic" [ngModelOptions]="{standalone: true}">Inorgânico</mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <button (click)="saveChanges()" type="submit" class="btn btn-success col-md-4 m-3">Salvar</button>
      <button (click)="restoreBackup()" class="btn btn-basic col-md-4 m-3">Restaurar Configurações</button>
    </div>

    <div class="card card-outline-secondary m-5">
      <div class="card-header">
        <h3 class="mb-0">Acesso</h3>
      </div>
      <div class="card-body">
        <div class="form-row mt-4">
          <div class="col-md-6 pb-3">
            <label for="password">Senha</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i (click)="hidepassword=!hidepassword" class="fa fa-eye" *ngIf="!hidepassword"></i>
                  <i (click)="hidepassword=!hidepassword" class="fa fa-eye-slash" *ngIf="hidepassword"></i>
                </span>
              </div>

              <input matInput #password type="{{hidepassword ? 'password' : 'text'}}" minlenght="4" maxlength="20" class="form-control"
                [(ngModel)]="profile.account.password" id="password" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <mat-hint>{{password.value?.length || 0}}/20</mat-hint>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 pb-3">
            <label for="password-verirification">Repita a senha: </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i (click)="hidepassword=!hidepassword" class="fa fa-eye" *ngIf="!hidepassword"></i>
                  <i (click)="hidepassword=!hidepassword" class="fa fa-eye-slash" *ngIf="hidepassword"></i>
                </span>
              </div>
              <input matInput #passwordv type="{{hidepassword ? 'password' : 'text'}}" minlength="0" maxlength="20" class="form-control"
                id="password-verirification" />
              <div class="input-group-append">
                <span class="input-group-text">
                  <mat-hint align="end">{{passwordv.value?.length || 0}}/20</mat-hint>
                </span>
              </div>
            </div>
          </div>
          <button (click)="changePassword()" class="btn btn-danger col-md-4">Alterar senha</button>
        </div>
      </div>

    </div>

    <div class="card card-outline-secondary m-5">
      <div class="card-header">
        <h3 class="mb-0">Assinatura</h3>
      </div>
      <div class="card-body">
        <div class="form-row mt-4">
          <div class="col-md-5 pb-3">
            <label for="startdate">Data de início</label>
            <input type="date" class="form-control" id="startdate" />
          </div>

          <div class="col-md-5 pb-3">
            <label for="startdate">Término</label>
            <input type="date" class="form-control" id="startdate" />
          </div>

          <div class="col-md-5 pb-3">
            <label for="payment">Pagamento</label>
            <input type="date" class="form-control" [(ngModel)]="profile.signature.payment" id="payment" />
          </div>

          <div class="col-md-5 pb-3">
            <label for="salary">Vencimento</label>
            <input type="date" class="form-control" [(ngModel)]="profile.signature.salary" id="salary" />
          </div>

          <div class="col-md-5">
            <label for="cc_name">Nome no cartão</label>
            <input type="text" class="form-control" id="cc_name" pattern="\w+ \w+.*" title="First and last name" required="required">
          </div>
          <div class="col-md-3">
            <label>Número do cartão</label>
            <input type="text" class="form-control" autocomplete="off" maxlength="20" pattern="\d{16}" title="Credit card number" required="">
          </div>
          <div class="col-md-2">
            <label for="cvc">CVC</label>
            <input type="text" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card"
              required="required" placeholder="CVC" id="cvc">
          </div>
          <div hidden="hidden" class="alert alert-info p-2 pb-3">
            <!-- Realizar validaçao com angular -->
            <p> CVC code is required.</p>
          </div>
          <div class="col-md-3">
            <label>Mês</label>
            <select class="form-control" name="cc_exp_mo" size="0">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Ano</label>
            <select class="form-control" name="cc_exp_yr" size="0">
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="cost">Valor Mensal</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">R$</span>
              </div>
              <input type="text" class="form-control text-right" disabled="disabled" id="cost" placeholder="39">
              <div class="input-group-append">
                <span class="input-group-text">,00</span>
              </div>
            </div>
          </div>
          <button (click)="cancelSingnature()" class="btn btn-success col-md-4 m-3">Alterar Pagador</button>
          <button (click)="cancelSingnature()" class="btn btn-danger col-md-4 m-3">Cancelar assinatura</button>
        </div>
      </div>
    </div>
  </div>
</div>
