<!--Exibe a qualificação da empresa com relação a separação de materiais, ou seja, o quanto os materiais vem pré selecionados.
  Apresenta em gráficos as vezes que o material foi coletado contaminado.-->
<mat-card>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
      <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>
