<!--Esse widget é responsável por informar o aculturamento relativo a carga de dados
de medições do reconsidere, para o contexto de uma empresa ou cidade e comparar com os
objetivos definidos. -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Mapa de cultura e objetivos
    </mat-card-title>
    <span class="title-spacer"></span>
    <a href="#">Ocultar</a>
  </mat-card-header>
  <mat-card-content>
    <div style="display: block;">
      <canvas baseChart
      [datasets]="radarChartData"
      [labels]="radarChartLabels"
      [chartType]="radarChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
