<div class="main">
  <mat-select #view id="visualization" value="enterprise" hidden>
    <mat-option value="enterprise">Empresa</mat-option>
    <mat-option value="cooperative">Cooperativa</mat-option>
    <mat-option value="reconsidere">Reconsidere</mat-option>
    <mat-option value="city">Município</mat-option>
  </mat-select>
  <div class="container" *ngIf="view.value == 'enterprise'">
    <div class="row h-10">
      <widget-nextcollection class="col-4 gutter-10"></widget-nextcollection>
      <widget-sales class="col-4 gutter-10"></widget-sales>
      <widget-households class="col-4 gutter-10"></widget-households>
    </div>
    <div class="row h-90">
      <widget-contamination class="col-8 h-100 gutter-10"></widget-contamination>
      <widget-preselection class="col-4 gutter-10"></widget-preselection>
    </div>
  </div>
</div>
