<div class="main">
  <h1>Central</h1>
  <mat-select #view id="visualization" value="enterprise">
    <mat-option value="enterprise">Empresa</mat-option>
    <mat-option value="cooperative">Cooperativa</mat-option>
    <mat-option value="reconsidere">Reconsidere</mat-option>
    <mat-option value="city">Município</mat-option>
  </mat-select>
  <div class="d-flex flex-row flex-wrap" *ngIf="view.value == 'enterprise'">
      <widget-contamination></widget-contamination>
      <widget-contamination></widget-contamination>
      <widget-contamination></widget-contamination>
      <widget-preselection></widget-preselection>
      <widget-prodution></widget-prodution>
      <widget-culture></widget-culture>
  </div>
  <div class="d-flex flex-row flex-wrap" *ngIf="view.value == 'cooperative'">
    <widget-nextcollection></widget-nextcollection>
    <widget-nextcollection></widget-nextcollection>
    <widget-nextcollection></widget-nextcollection>
    <widget-prodution></widget-prodution>
    <widget-prodution></widget-prodution>
    <widget-preselection></widget-preselection>
  </div>
  <div class="d-flex flex-row flex-wrap" *ngIf="view.value == 'reconsidere'">
    <widget-contamination></widget-contamination>
    <widget-prodution></widget-prodution>
    <widget-preselection></widget-preselection>
    <widget-nextcollection></widget-nextcollection>
    <widget-culture></widget-culture>
  </div>
  <div class="d-flex flex-row flex-wrap" *ngIf="view.value == 'city'">
    <widget-culture></widget-culture>
    <widget-nextcollection></widget-nextcollection>
    <widget-prodution></widget-prodution>
    <widget-contamination></widget-contamination>
    <widget-preselection></widget-preselection>
    <widget-contamination></widget-contamination>
  </div>
</div>
